fieldset{
    min-height: 56.72rem;
}

.registerForm{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.registerForm label{
    position: relative;
}

.btnContainerReg{
    width: 25%;
}

.radio div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.radio{
    margin-top: 2rem;
}

.radio div{
    width: 60%;
    margin: auto;
}

.radioBtnBox{
    padding-top: 1.5rem;
}

.radio div label{
    width: 65%;
    margin-top: 0;
    text-align: start;
}

.radio div input{
    width: 30%;
    height: 2rem;
    accent-color: #e56612;
}